<div class="h-100 login-container">
  <h2 class="text-center">NOBEL LOGIN</h2>
  <div *ngIf="error" class="login-error">{{ error }}</div>
  <div class="container">
    <div class="row">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-12 col-md-6 offset-md-3">
        <div class="form-group">
          <label for="username">Username</label>
          <input formControlName="username" class="form-control" id="username" placeholder="Type your username here">
          <div *ngIf="loginForm.controls.username.errors?.pattern" class="invalid-input">
            Username not valid. Only letters are allowed
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Type your password here">
          <div *ngIf="loginForm.controls.password.errors?.pattern" class="invalid-input">
            Password not valid. Only letters are allowed
          </div>
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
</div>
