@import '../../../colors.sass'

.login-container
  background: $blue
  h2
    padding-top: 2em
    margin-bottom: 2em
    color: #f9d576
    font-weight: bolder
    letter-spacing: .05em
  input
    background: transparent
    color: $white
    border-radius: 0
  ::placeholder
    color: $white
    opacity: 0.5
  label
    color: $white
  button
    background: $black
    border-color: transparent
    border-radius: 0
    width: 10em
  .login-error
    text-align: center
    color: $red
    font-weight: bold
    margin-bottom: 1em
  .invalid-input
    color: $red
    margin-top: .5em

@media (min-width: 767px)
  .login-container
    h2
      padding-top: 5em
