@import '../../../colors.sass'

/deep/
  nobel-common
    min-height: 100%
    display: flex
    flex-direction: column

nav
  & > a
    color: white
    font-weight: bold
  a:hover, a:focus
    color: $yellow

.content
  flex: 1 0 auto
  background: $white

.bg-black
  background: $black

footer
  font-weight: bold
  background: #f9d576
  padding: 1em
  text-align: center
  flex-shrink: 0

