<nav class="navbar navbar-dark bg-black">
  <a class="navbar-brand">NOBEL</a>
  <a class="float-right" (click)="logout()">Logout</a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  &copy; 2018
</footer>
