<div class="item-list-container container">
  <h2 class="text-center">ENTRIES LIST</h2>
  <br/>
  <div>
    <div class="input-group mb-5">
      <label for="responseLength" class="hidden">Response Length</label>
      <input type="text" class="form-control" id="responseLength" placeholder="Response length" [formControl]="responseLengthControl" aria-label="response length" (keydown)="keyIsAllowed($event)" >
      <!--<div class="input-group-append mb-5">-->
        <!--<button class="btn btn-primary" (click)="setResponseLength()">SET</button>-->
      <!--</div>-->
    </div>
  </div>
  <div id="responsive-table" *ngIf="entries">
    <div class="sort-by-date">
      Sort by date <span (click)="sort('up')" class="cursor-pointer">&uarr;</span> <span (click)="sort('down')" class="cursor-pointer">&darr;</span>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ObjectId</th>
        <th>Date <span (click)="sort('up')" class="cursor-pointer">&uarr;</span> <span (click)="sort('down')" class="cursor-pointer">&darr;</span></th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries">
          <td data-title="ObjectId">{{ entry.objectId }}</td>
          <td data-title="Date">{{ entry.date | date: 'dd.MM.yyyy hh:mm:ss' }}</td>
          <td data-title="Data" class="cursor-pointer" (click)="openModalForEntry(entry)">{{ getData(entry.data) }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error" class="entry-error">
      {{ error }}
    </div>
  </div>
  <div *ngIf="!entries" class="text-center loading-container">
    <img src="../../../assets/img/loading.gif" alt="loading">
  </div>
</div>
