@import '../../../colors.sass'

.loading-container
  position: absolute
  top: 50%
  left: 0
  right: 0
  transform: translateY(-50%)
  img
    height: 5em

.item-list-container
  margin: 2em auto
  .sort-by-date
    text-align: center
    color: $blue
    font-weight: bold
    letter-spacing: .05em
    margin-bottom: 2em
  .table th
    border-top: none
    color: $blue
    span
      margin-left: 1em
  h2
    font-weight: bold
    color: $red
    letter-spacing: .05em
  .entry-error
    color: $red
    text-align: center


@media (min-width: 767px)
  .sort-by-date
    display: none
