/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat')

body, html
  height: 100%
  font-family: 'Montserrat', serif

.cursor-pointer
  cursor: pointer
.hidden
  display: none

@media (max-width: 767px)
  #responsive-table table,
  #responsive-table thead,
  #responsive-table tbody,
  #responsive-table th,
  #responsive-table td,
  #responsive-table tr
    display: block


  #responsive-table thead tr
    position: absolute
    top: -9999px
    left: -9999px


  #responsive-table tr
    border: 1px solid #ccc

  #responsive-table td
    border: none
    border-bottom: 1px solid #eee
    position: relative
    padding-left: 50%
    white-space: normal
    text-align: left
    word-break: break-all

  #responsive-table td:before
    position: absolute
    top: 6px
    left: 6px
    width: 45%
    padding-right: 10px
    white-space: nowrap
    text-align: left
    font-weight: bold

  #responsive-table td:before
    content: attr(data-title)

