<div *ngIf="entry" class="entry-detail">
  <div class="modal-header">
    <h4 class="text-center">ENTRY DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div><strong>ObjectId:</strong> {{ entry.objectId }}</div><br/>
    <div><strong>Date:</strong> {{ entry.date | date: 'dd.MM.yyyy hh:mm:ss' }}</div><br/>
    <div><strong>Data type 0:</strong> {{ getDataType(0) }}</div><br/>
    <div><strong>Data type 1:</strong> {{ getDataType(1) }}</div><br/>
    <div><strong>Data type 2:</strong> {{ getDataType(2) }}</div><br/>
  </div>
</div>
